/* Set the background color of the HTML document to black and the text color to white */
html {
    background-color: black;
    color: white;
}

/* Create a grid layout with auto-fit columns that have a minimum width of 250px and maximum 1fr (fractional unit) */
.section-center {
    display: grid;
    grid-gap: 5%;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}

/* Center the content inside the elements with the class "pedal-item" */
.pedal-item {
    text-align: center;
}

/* Add a greenyellow solid border with a width of 5px around elements with the class "photo" and set their width and height to 200px */
.photo {
    border-style: solid;
    border-width: 5px;
    width: 200px;
    height: 200px;
    border-color: greenyellow;
}

/* Set the font size to 15px and use the 'Oswald' font family for elements with the class "pedal-info" */
.pedal-info {
    font-size: 15px;
    font-family: 'Oswald', sans-serif;
}

/* Set the font size to 15px for elements with the class "pedal-text" */
.pedal-text {
    font-size: 15px;
}

/* Set the font size to 20px for the element with the ID "pedal-title" */
#pedal-title {
    font-size: 20px;
}

/* Set the font size to 20px for elements with the class "price" */
.price {
    font-size: 20px;
}

/* Center the content and set the font size to 50px using the 'Oswald' font family for all h2 elements */
h2 {
    text-align: center;
    font-family: 'Oswald', sans-serif;
    font-size: 50px;
}

/* Center the content and add top and bottom margins for the elements with the class "btn-container" */
.btn-container {
    text-align: center;
    margin-top: 30px;
    margin-bottom: 60px;
}

/* Add a white horizontal rule (line) with a bottom margin of 60px */
hr {
    margin-bottom: 60px;
    background-color: white;
}

/* Style the filter buttons with rounded corners, greenyellow background, and set the font size and font weight */
.filter-btn {
    border-radius: 5px;
    width: 100px;
    height: 30px;
    font-family: 'Oswald', sans-serif;
    font-size: 15px;
    background-color: greenyellow;
    font-weight: 700;
}
